* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main {
  width: 1440px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 55px;
  background-image: url(images/bg-intro-desktop.png);
  background-color: hsl(0, 100%, 74%);
}
.part22 {
  background-color: white;
  width: 540px;
  height: 475px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
.num {
  margin-top: 18px;
  width: 465px;
  height: 55px;
}
.form {
  margin-bottom: 35px;
  border-radius: 10px;
}
.num {
  border-radius: 8px;
  border: 2px solid #aaa;
  padding-left: 30px;
}
.num:focus-visible {
  border: 2px solid hsl(249, 10%, 26%);
  outline: hsl(249, 10%, 26%);
}
.part21 {
  text-align: center;
  padding-bottom: 20px;
}
.b1 {
  width: 540px;
  height: 55px;
  background-color: hsl(248, 32%, 49%);
  color: #ffffffa9;
  border-radius: 8px;
  font-family: "poppins", sans-serif;
  box-shadow: 0 8px 0px rgba(0, 0, 0, 0.219);
  border: none;
}
.b1 span {
  color: #fff;
}
.b2 {
  width: 465px;
  height: 55px;
  margin-top: 20px;
  background-color: hsl(154, 59%, 51%);
  border: none;
  border-radius: 8px;
  font-family: "poppins", sans-serif;
  font-weight: 600;
  color: #ffffffa9;
  text-transform: uppercase;
  font-size: 16px;
}
.part23 {
  font-size: 11px;
  padding-top: 25px;
  text-align: center;
  font-family: "poppins", sans-serif;
  color: rgba(51, 51, 51, 0.226);
  font-weight: 600;
}
.part23 span {
  color: hsl(0, 100%, 74%);
}
.h1 {
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 37px;
  font-family: "poppins", sans-serif;
  color: #fff;
  font-weight: 600;
}
.text1 {
  font-size: 16px;
  line-height: 22px;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  color: #ffffffa9;
}
.num::placeholder {
  font-family: "poppins", sans-serif;
  font-weight: 500;
  color: #aaa;
}
